*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
.wrapper{
    width: 100%;
    margin: auto;
    position: relative;
    height: 30px;
}
body{
    background-color: #189c9c;
}
.background{
    position: relative;
    width: 100%;
    background: linear-gradient(to top, #ee8e4f, #fce5ce );
    background-position: center;
    background-size: cover;
    height: 100%;
    transition: 0.5s;
}
.fill{
    position: absolute;
    display: block;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 350px;
    background-color: #fafbfb;
    border-radius: 10px;

}
.form .input-group{
    margin-top: 40px;
    width: 100%;
    height: 30px;
    margin-bottom: 50px ;
}
.form .input-group label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    margin-bottom: -5px;
    display: block;
    margin-left: 10%;

}
.lognwrap{
    margin-top: 20px;
    text-align: center;
}
.logn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#name{
    margin-left: 10%;
}
#pass{
    margin-left: 10%;
}
.form .input-group input{
    width: 80%;
    height: 100%;
    border: 1px solid #5f2109; 
    outline: none;
    padding: 5px 10px ;
}
.form .input-group textarea{
    width: 80%;
    height: 100%;
    border: 1px solid #5f2109; 
    outline: none;
    padding: 5px 10px ;
    resize: none;
    height: 100px;
}
.buttoncen{
    text-align: center;
}
#submit{
    font-size: 15px;
    margin-top: 10px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    border: none;
    background-color: #c9c9c9;
    border-radius: 10px;
}
#submit:hover{
    background-color: #ee8e4f;
}